#algo-modal {
    --gold-algo: #ffa418;
    border-radius: 10px;
    text-align: center;
}

/* #region Algorithm Grid */
.algo-grid {
    --gridsize: 100px;
    display: grid;
    grid-template-columns: repeat(2, var(--gridsize));
    grid-auto-rows: var(--gridsize);
    gap: 5px;
}

.algo-close {
    background-image: url("./assets/images/algorithms/Closed.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.algo-empty {
    background-image: url("./assets/images/algorithms/Empty.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.algo-block {
    background: #eaeaea;
    position: relative;
    padding: 5px;
}

.double-block {
    grid-column-end: span 2;
}

.mainstat {
    background-color: var(--gold-algo);
    color: white;
}

.substat {
    background-color: #343434;
    color: var(--gold-algo);
}

.delete-algo {
    position: absolute;
}
/* #endregion */

/* #region Tabs */
#algo-modal .tab-button {
    display: none;
}

#algo-modal .tab-body {
    display: inline-block;
}

@media screen and (max-width: 700px) {
    #algo-modal .tab-button {
        display: block;
    }

    #algo-modal .tab-body > :first-child{
        display: none;
    }

    #button ~ .tab-body {
        display: none;
    }
    
    #button:has([value="Offense"]:checked) ~ #Offense,
    #button:has([value="Stability"]:checked) ~ #Stability,
    #button:has([value="Special"]:checked) ~ #Special {
            display: revert;
    }
}
/* #endregion */

#algo-modal > #close-modal {
    left: 50%;
    transform: translateX(-50%);
}




#algo-select {
    border-radius: 10px;
    max-width: 100%;
    padding: 5px;
}

#algo-select > form {
    display: flex;
    gap: 5px;
    justify-content: center;
}

#algo-select button {
    padding: 0;
}

#algo-select img {
    background-color: #494b4a;
    width: 100px;
}