#algo-modal {
    --gold-algo: #ffa418;
    border-radius: 10px;
    text-align: center;
}

#algo-modal :is(#Offense, #Stability, #Special) {
    display: inline-block;
}

#algo-modal > #algo-close {
    left: 50%;
    transform: translateX(-50%);
}

.algo-grid {
    --gridsize: 50px;
    display: grid;
    grid-template-columns: repeat(2, var(--gridsize));
    grid-auto-rows: var(--gridsize);
    gap: 5px;
}

.algo-close {
    background-color: white;
    background-image: url("./assets/images/algorithms/Closed.png");
    background-repeat: no-repeat;
}

.algo-empty {
    background-color: white;
    background-image: url("./assets/images/algorithms/Empty.png");
    background-repeat: no-repeat;
}

.algo-block {
    background: #eaeaea;
    position: relative;
}

.double-block {
    grid-column-end: span 2;
}

.mainstat {
    background-color: var(--gold-algo);
    color: white;
}

.substat {
    background-color: #343434;
    color: var(--gold-algo);
}