#algo-modal {
    --gold-algo: #ffa418;
    border-radius: 10px;
    text-align: center;
}

#algo-modal :is(#Offense, #Stability, #Special) {
    display: inline-block;
}

#algo-modal button {
    display: block;
}

.algo-grid {
    --gridsize: 50px;
    display: grid;
    grid-template-columns: repeat(2, var(--gridsize));
    grid-auto-rows: var(--gridsize);
    gap: 5px;
}

.algo-close {
    background: black;
    /* background-size: auto 100%;
    background-repeat: no-repeat; */
}

.algo-empty {
    background: gray;
    /* background-size: auto 100%;
    background-repeat: no-repeat; */
}

.algo-block {
    background: #eaeaea;
    position: relative;
}

.double-block {
    grid-column-end: span 2;
}

.mainstat {
    background-color: var(--gold-algo);
    color: white;
}

.substat {
    background-color: #343434;
    color: var(--gold-algo);
}