@import "../univasset/scripts/externalcss.css";
@import "../univasset/scripts/tooltip.css";

#links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    place-items: center;
}

#links > * {
    margin: 5px 0px;
}

.func_timer {
    position: relative;
    margin: 10px 0px;
    container: inline-size;
    aspect-ratio: 2/1;
}

.func_timer > span {
    position: absolute;
    left: 0;
    width: 100%;
    white-space: nowrap;
    font-size: min(8cqw, 50px);
    -webkit-text-stroke: 1px white;
    color: black;
    text-align: center;
}

.func_timer > span:first-of-type {
    top: 0;
    font-size: min(7cqw, 8rem);
}

.func_timer > span:last-of-type {
    bottom: 0;
}