@import "../univasset/scripts/externalcss.css";
@import "../univasset/scripts/tooltip.css";

#links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    place-items: center;
}

#links > * {
    margin: 5px 0px;
}

.func_timer {
    position: relative;
    margin: 10px 0px;
    container: inline-size;
    aspect-ratio: 2/1;
}

.func_timer > :is(span, div) {
    position: absolute;
    white-space: nowrap;
    -webkit-text-stroke: 2px black;
    color: white;
    font-size: clamp(1rem, 10cqw, 10rem);
    text-align: center;
}

@media screen and (resolution > 1dppx) {
    .func_timer > :is(span, div) {
        -webkit-text-stroke-width: 1px;
    }
}

.func_timer > span {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.func_timer > div {
    bottom: 0;
    left: 0;
    width: 100%;
}