@import "../univasset/scripts/externalcss.css";

.func_table {
    height: 95vh;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    margin: 0;
}

/* #region Freeze */
.freeze-row th {
    background: #1b1b1b !important;
}

.freeze-col tr > :first-child {
    border-right: 1px dashed #b5e853;
}

.freeze-col tr:nth-child(odd) > :first-child {
    background: #1b1b1b;
}

.freeze-col tr:nth-child(even) > :first-child {
    background: #292f20;
}
/* #endregion */

/* #region Sort */
.func_table th[data-sort="hi"] {
    background: linear-gradient(135deg, #1b1b1b, transparent 50%),
        linear-gradient(-135deg, #1b1b1b, transparent 50%),
        linear-gradient(blue, gray 50%) !important;
}

.func_table th[data-sort="lo"] {
    background: linear-gradient(45deg, #1b1b1b, transparent 50%),
        linear-gradient(-45deg, #1b1b1b, transparent 50%),
        linear-gradient(gray 50%, red) !important;
}
/* #endregion */

/* #region Tabs */
.tab-button > label {
    background-color: transparent;
    line-height: 10px;
    flex: calc(100% / 2);
}

.tab-button > label:has(input:checked) {
    background-color: darkgreen;
}

.tab-button h2 {
    margin: 0px 0px 10px;
}

#button:has([value="stat"]:checked) ~ #stat,
#button:has([value="data"]:checked) ~ #data {
    display: revert;
}
/* #endregion */
