code {
  color: yellow;
}

.widescreen {
  width: 100%;
  max-width: 640px;
  /* padding-top: 56.25%; */
  aspect-ratio: 16/9;
}

/* @media screen and (max-width: 640px) {
  .widescreen {
    width: 100%;
  }
} */

.tags {
  color: aqua;
  background: darkblue;
  outline-color: aqua;
/*   border: aqua;
  
  align-items: center;
  border-radius: 5rem;
  display: inline-flex;
  display: -ms-inline-flexbox;
  -ms-flex-align: center;
  font-size: 90%;
  height: 1.2rem;
  line-height: .8rem;
  margin: 0.1rem;
  max-width: 100%;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  vertical-align: middle;
 */}

/* .tooltip {
  position: relative;
  /* display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} */