/* @import "/assets/css/style.css?v=2d3b5126dd9bdaf552f3aef918356c51b10c15a9"; */
@layer pseudo-agent, include, classes, special, link-header;

@import "/univasset/scripts/pageheader/header.css" layer(link-header);
@import "/univasset/scripts/include/index.css" layer(include);

@layer pseudo-agent {
	/* #region Body */
	body {
		margin: 0;
		padding: 0;
		background: #151515 url("/assets/images/bkg.png") 0 0;
		color: #eaeaea;
		font-size: 16px;
		line-height: 1.5;
		font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
		/* scrollbar-gutter: stable both-edges; */
	}

	body:has(:modal) {
		overflow: hidden;	/* overscroll-behavior: contain; not needed */
	}

	@media (pointer: fine) {	/* For PC (devices with visible scrollbar). */
		body:has(:modal) {
			padding-right: 16px;
		}
	}
	/* #endregion */

	section {
		display: block;
		margin: 0 0 20px 0;
	}

	code {
		background: rgba(0, 0, 0, 0.9);
		border: 1px solid rgba(255, 255, 255, 0.15);
		padding: 0px 3px;
		margin: 0px -3px;
		color: #aa759f;
		border-radius: 2px;
	}
	
	figcaption {
		font-size: 0.5rem;
		text-align: center;
	}

	blockquote {
		color: #aaa;
		padding-left: 10px;
		border-left: 1px dotted #666;
	}

	hr {
		height: 0;
		border: 0;
		border-bottom: 1px dashed #b5e853;
		color: #b5e853;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		color: #b5e853;
		letter-spacing: -0.03em;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
		margin: 0 0 20px;
	}

	section img {
		max-width: 100%;
	}

	details > summary {
		cursor: pointer;
		color: rgb(233, 161, 152);
		text-shadow: 0 0 5px rgba(238, 151, 162, 0.5);
	}

	/* #region List Item */
	li {
		margin-inline-start: 10px;
	}

	ol > li:nth-last-child(n + 10),
	ol > li:nth-last-child(10) ~ li {
		margin-inline-start: 20px;		
	}

	ul > li {
		list-style-image: url("/assets/images/bullet.png");
		line-height: 1.4;
	}
	/* #endregion */

	/* #region Anchor */
	a {
		color: rgb(99, 192, 245);
		text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
	}
	
	a[href^="#"] {
		text-decoration: none;
	}
	/* #endregion */

	/* #region Description */
	dt {
		font-style: italic;
		font-weight: bold;
	}

	dd {
		display: list-item;
		margin-inline-start: 20px;
	}
	/* #endregion */

	/* #region Table */
	table {
		width: 100%;
		margin: 0;
	}

	:has(> table:only-child) {
		height: fit-content;	/* might remove */
		overflow: auto;
		overscroll-behavior: contain;
	}

	th {
		text-align: left;
		border-bottom: 1px dashed #b5e853;
	}

	tr:nth-child(even) {
		background-color: rgba(85, 107, 47, 0.25);
	}

	th, td {
		padding: 5px 10px;
	}
	/* #endregion */
}

@layer classes {
	/* #region General */
	#main_content {
		width: 100%;
		-webkit-font-smoothing: antialiased;
	}

	#main_content h1 {
		font-size: 30px;
	}

	#main_content h2 {
		font-size: 24px;
	}

	#main_content h3 {
		font-size: 18px;
	}

	#main_content h4 {
		font-size: 14px;
	}

	#main_content h5 {
		font-size: 12px;
		text-transform: uppercase;
		margin: 0 0 5px 0;
	}

	#main_content h6 {
		font-size: 12px;
		text-transform: uppercase;
		color: #999;
		margin: 0 0 5px 0;
	}

	.container {
		width: 90%;
		max-width: 1000px;
		margin: 0 auto;
	}
	/* #endregion */


	.center-text {
		display: flex;
		align-items: center;
		justify-content: center;	
	}

	.overflow {
		overflow: auto;
		overscroll-behavior: contain;
	}
}

@layer special {
	pre {
		background: rgba(0, 0, 0, 0.9);
		border: 1px solid rgba(255, 255, 255, 0.15);
		padding: 10px;
		font-size: 16px;
		color: #b5e853;
		border-radius: 2px;
		word-wrap: normal;
		overflow: auto;
		overflow-y: hidden;
	}

	.cf {
		zoom: 1;

		&:before {
			content: "";
			display: table;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.center {
		left: 50%;
		position: relative;
		transform: translateX(-50%);
	}

	.highlight {
		color: #d0d0d0;
	
		& table {
			& td {
				padding: 5px;
			}

			& pre {
				margin: 0;
			}
		}
	
		& .w {
			color: #d0d0d0;
		}
	
		& .err {
			color: #151515;
			background-color: #ac4142;
		}
	
		& :is(.c, .cd, .cm, .c1, .cs) {
			color: #888;
		}
	
		& .cp {
			color: #f4bf75;
		}
	
		& :is(.o, .ow) {
			color: #f4bf75;
		}
	
		& :is(.p, .pi) {
			color: #d0d0d0;
		}
	
		& .gi {
			color: #90a959;
		}
	
		& .gd {
			color: #ac4142;
		}
	
		& .gh {
			color: #6a9fb5;
			font-weight: bold;
		}
	
		& :is(.k, .kn, .kp, .kr, .kv) {
			color: #aa759f;
		}
	
		& :is(.kc, .kt, .kd) {
			color: #d28445;
		}
	
		& :is(.s, .sb, .sc, .sd, .s2, .sh, .sx, .s1 ) {
			color: #90a959;
		}
	
		& .sr {
			color: #75b5aa;
		}
	
		& :is(.si, .se) {
			color: #8f5536;
		}
	
		& :is(.nt, .nn, .nc, .no) {
			color: #f4bf75;
		}
	
		& .na {
			color: #6a9fb5;
		}
	
		& :is(.m, .mf, .mh, .mi, .il, .mo, .mb, .mx) {
			color: #90a959;
		}
	
		& .ss {
			color: #90a959;
		}
	}
}

