@import "/main.css";
@import "../tooltip.css";
@import "../tabs.css";
@import "../html/index.css";

@import "./nonest.css";

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    margin: 0px;
}

input[type="number"] {
    width: 40px;
}

dl, table, blockquote, figure {
    margin: 0px;
}

/* #region Tabs */
.tab-button {
    & > label {
        background-color: transparent;
        line-height: 10px;
        flex: calc(100% / 3);
    }

    & > label:has(input:checked) {
        background-color: darkgreen;
    }

    & h2 {
        margin: 0px 0px 10px;
    }

    &:has([value="Keywords"]:checked) ~ #Keywords,
    &:has([value="Tags"]:checked) ~ #Tags,
    &:has([value="Browse"]:checked) ~ #Browse {
        display: block;
    }
}

#Keywords input[type="text"] {
    width: calc(100% - 76px);
}

#Tags input[type="text"] {
    display: none;
}

#Tags input[type="submit"] {
    margin-top: 5px;
    position: relative;
    left: calc(100% - 60px);
}

#Tags div, #Browse {
    text-align: center;
}
/* #endregion */

.tags {
    outline: 2px solid aqua;
    border-radius: 10rem;
    padding: 0px 3px;
    background: transparent;
    color: aqua;
    display: inline-grid;                       /* For making the tag buttons stay together on wrap. */

    #Tags &:has(input:checked) {
        background: aqua;
        color: black;
    }

    & > .tooltiptext {
        bottom: 110%;
    }
}

fieldset {
    /* Staples */
    margin-top: 5px;

    & > legend > h3 {
        margin: 0px;
    }

    & > hr {
        border-top: 1px dashed;
    }

    & > .tags {
        line-height: 20px;
        margin: 0 5px;
        text-shadow: none;
    }

    /* Contents */
    & :is(ol, ul) {
        margin: 0px;
        padding-inline-start: 20px;
    }

    & a {
        text-decoration: none;
    }

    & img:not(.inline-img) {
        margin: 0 auto;
        display: block;
    }    
}

/* #region Details and Summary */
details, details > summary {
    display: inline;
}

details[open] {
    display: block;
    background-color: #3a3a3a80;
    border-radius: 10px;
    padding: 5px;
}

details[open] > summary {
    text-align: center;
    display: block;
}
/* #endregion */

/* #region Embed */
iframe[src*="www.youtube.com"], iframe[src*="streamable.com"] {
    width: 100%;
    aspect-ratio: 16/9;
    border: 0px;
    display: block;
}

.twitter-tweet > iframe[src*="platform.twitter.com"] {
    max-width: 100%;
}
/* #endregion */