/* #region Tabs */
.tab-button > label {
    background-color: transparent;
    line-height: 10px;
}

.tab-button > label:has(input:checked) {
    background-color: darkgreen;
}

.tab-button h2 {
    margin: 0px 0px 10px;
}
/* #endregion */

#Tags .tags:has(input:checked) {
    background: aqua;
    color: black;
}

.tags > .tooltiptext {
    bottom: 110%;
}

/* Staples */
fieldset > legend > h3 {
    margin: 0px;
}

fieldset > hr {
    border-top: 1px dashed;
}

fieldset > .tags {
    line-height: 20px;
    margin: 0 5px;
    text-shadow: none;
}

/* Contents */
fieldset :is(ol, ul) {
    margin: 0px;
    padding-inline-start: 20px;
}

fieldset a {
    text-decoration: none;
}

fieldset img:not(.inline-img) {
    margin: 0 auto;
    display: block;
}

/* Page Slider */
.slider {
    position: relative;
    display: inline-grid;
    grid-template-columns: 16px auto 16px;
    grid-auto-rows: 16px;
    gap: 1px;
    width: calc(100% - 8rem);
}

.slider > button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider > input::before {
    content: attr(value);
    opacity: 0;
    position: absolute;
    transition: 0.2s;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    padding: 0.5em;
    background-color: black;
    border-radius: 0.25em;
    color: white;
    text-align: center;
    pointer-events: none;
}

.slider:hover > input::before {
    opacity: 1;
}
