/* #region Tabs */
.tab-button > label {
    background-color: transparent;
    line-height: 10px;
    /* flex: calc(100% / 3); */
}

.tab-button > label:has(input:checked) {
    background-color: darkgreen;
}

.tab-button h2 {
    margin: 0px 0px 10px;
}

.tab-button:has([value="Keywords"]:checked) ~ #Keywords,
.tab-button:has([value="Tags"]:checked) ~ #Tags,
.tab-button:has([value="Browse"]:checked) ~ #Browse {
    display: block;
}
/* #endregion */

#Tags .tags:has(input:checked) {
    background: aqua;
    color: black;
}

.tags > .tooltiptext {
    bottom: 110%;
}

/* Staples */
fieldset > legend > h3 {
    margin: 0px;
}

fieldset > hr {
    border-top: 1px dashed;
}

fieldset > .tags {
    line-height: 20px;
    margin: 0 5px;
    text-shadow: none;
}

/* Contents */
fieldset :is(ol, ul) {
    margin: 0px;
    padding-inline-start: 20px;
}

fieldset a {
    text-decoration: none;
}

fieldset img:not(.inline-img) {
    margin: 0 auto;
    display: block;
}    