@import "./textstyle.css";

/* #region Google Document */
div.embed-google > select {
    max-width: calc(100% - 60px);
}
div.embed-google > select:disabled {
    opacity: 1;
    color: initial;
    padding: 1px 3px;
    appearance: none;
    background-color: lightgray;
}

div.embed-google > button {
    float: right;
}

div.embed-google > iframe {
    aspect-ratio: 1/1;
    width: 100%;
    border: 0;
}
/* #endregion */

img.inline-img {
    vertical-align: middle;
    display: inline;
    height: 1rem;
}