/* #region text-decoration-line */
.text-overline {
    text-decoration-line: overline;
}

.text-strikethrough {
    text-decoration-line: line-through;
}

.text-overline.text-strikethrough {
    text-decoration-line: overline line-through;
}
/* #endregion */

.text-superscript {
    vertical-align: super;
    font-size: smaller;

    /* https://stackoverflow.com/questions/501671/superscript-in-css-only */
    /* font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em; */
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}
