@import "../univasset/scripts/externalcss.css";

/* #region General */
input[type="checkbox"], input[type="radio"] {
    appearance: none;
    margin: 0px;
}

dl, table, figure, blockquote {
    margin: 0px;
}

dd {
    display: list-item;
    margin-inline-start: 20px;
}

dd > figure {
    width: fit-content;
}

figcaption {
    font-size: 0.5em;
    text-align: center;
    display: block;
}

a {
    cursor: pointer;
    text-decoration: none;
}
/* #endregion */

/* #region Tags */
.tags {
    outline: 2px solid aqua;
    border-radius: 10rem;
    padding: 0px 3px;
    background: transparent;
    color: aqua;
    display: inline-grid;                       /* For making the tag buttons stay together on wrap. */
}

label.tags {
    margin: 0px 5px;
}

@supports Selector(label.tags:has(input:checked)) {
    label.tags:has(input:checked) {
        background: aqua;
        color: black;
    }
}

@supports not Selector(label.tags:has(input:checked)) {
    label.tags.checked {
        background: aqua;
        color: black;
    }
}

.card-tags {
    line-height: 20px;
}
/* #endregion */

/* #region Input Type Selector */
#input-type-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-style: initial;
}

#input-type-container > label {
    background-color: transparent;
    line-height: 10px;
    flex: calc(100% / 3);
}

#input-type-container > label:has(input:checked) {
    background-color: darkgreen;
}

#search-text {
    width: calc(100% - 76px);
}

#tags-list, #browse-page {
    text-align: center;
    display: none;                              /* Makes block hidden by default. */
}
/* #endregion */

/* #region Hidden Summary */
details {
    display: inline;
}

details[open] {
    display: block;
    border: dashed 1px honeydew;
}

details summary {
    cursor: pointer;
    display: inline;
    color: rgb(233, 161, 152);
    text-shadow: 0 0 5px rgb(255 181 253 / 50%);
}

details[open] summary {
    text-align: center;
    display: block;
}
/* #endregion */

/* #region Fieldset */
fieldset {
    margin-top: 5px;
}

legend h3, fieldset ol, fieldset ul {
    margin: 0px;
}

fieldset hr {
    border-top: 1px dashed;
}
/* #endregion */

/* #region Embed */
iframe[src*="docs.google.com"] {
    width: 100%;
    aspect-ratio: 1/1;
    border: 0px;
}

iframe[src*="www.youtube.com"], iframe[src*="streamable.com"] {
    width: 100%;
    aspect-ratio: 16/9;
    border: 0px;
    display: block;
}

.twitter-tweet > iframe[src*="platform.twitter.com"] {
    max-width: 100%;
}
/* #endregion */

/* #region Img */
img:not(.inline-img) {
    margin: 0 auto;
    display: block;
}

img.inline-img {
    margin: -3px -5px;
    display: inline;
    height: 16px;
}
/* #endregion */