header {
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	border-bottom: 1px dashed #b5e853;
	padding: 20px 0;
	margin: 0 0 40px 0;
}

header h1 {
	font-size: 30px;
	line-height: 1.5;
	margin: 0 0 0 -40px;
	font-weight: bold;
	letter-spacing: -1px;
	-webkit-font-smoothing: antialiased;
}

@media (max-width: 1000px){
	header h1{
		margin-left: 0;
	}
}

header h1:before {
	content: "./ ";
	font-size: 24px;
}

header h2 {
	font-size: 18px;
	font-weight: 300;
	color: #666;
}

#a-title {
	text-decoration: none
}

#a-title > h1 {
	display: inline;
}

/* #region Buttons */
#downloads {
	margin: unset;
}

#downloads a {
	display: inline-block;
	padding: 18px 45px;

	border-radius: 50px;
	border: 2px solid rgba(0, 0, 0, 0.7);

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#downloads a:hover {
	transform: scale(1.5);
}

.btn-gfl {
	background-image: url("./GirlsFrontline.png");
	background-color: rgba(100, 100, 100, 30%);
}

.btn-gfl:hover {
	background-color: rgba(100, 100, 100, 60%);
}

.btn-pnc {
	background-image: url("./NeuralCloud.png");
	background-color: rgba(0, 255, 255, 30%);
}

.btn-pnc:hover {
	background-color: rgba(0, 255, 255, 60%);
}
/* #endregion */