.tab-button {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-style: initial;
}

.tab-button:focus-within {
    animation: tabbed-blink 1s infinite;
}

@keyframes tabbed-blink {
    33% {
        background-color: rgba(0, 0, 0, 50%);
    }

    66% {
        background-color: rgba(255, 255, 255, 50%);
    }
}

/* #region Tab Width */
.tab-button > label:first-child:nth-last-child(2),
.tab-button > label:first-child:nth-last-child(2) ~ label {
    flex: calc(100% / 2);
}

.tab-button > label:first-child:nth-last-child(3),
.tab-button > label:first-child:nth-last-child(3) ~ label {
    flex: calc(100% / 3);
}

.tab-button > label:first-child:nth-last-child(4),
.tab-button > label:first-child:nth-last-child(4) ~ label {
    flex: calc(100% / 4);
}

.tab-button > label:first-child:nth-last-child(5),
.tab-button > label:first-child:nth-last-child(5) ~ label {
    flex: calc(100% / 5);
}
/* #endregion */

.tab-button input {
    appearance: none;
    margin: 0;
}

/* Assumes order of buttons is the same as order of bodies. */
/* Overrides "default" display when the corresponding button is unchecked. */
/* Temporary CSS */
.tab-button:has(> label:nth-child(1) > input:not(:checked)) + .tab-body,
.tab-button:has(> label:nth-child(2) > input:not(:checked)) + .tab-body + .tab-body,
.tab-button:has(> label:nth-child(3) > input:not(:checked)) + .tab-body + .tab-body + .tab-body,
.tab-button:has(> label:nth-child(4) > input:not(:checked)) + .tab-body + .tab-body + .tab-body + .tab-body,
.tab-button:has(> label:nth-child(5) > input:not(:checked)) + .tab-body + .tab-body + .tab-body + .tab-body + .tab-body {
    display: none;
}