code {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

/* #region GFL Button */
.btn-gfl {
  background: -webkit-linear-gradient(rgb(12, 184, 50, 0.3), rgba(30, 120, 51, 0.3) 50%, rgba(30, 50, 5, 0.3) 50%, rgba(0, 0, 0, 0.3))
}

.btn-gfl:hover {
  background: -webkit-linear-gradient(rgb(12, 184, 50, 0.6), rgba(30, 120, 51, 0.6) 50%,rgba(30, 50, 5, 0.8) 50%, rgba(0, 0, 0, 0.8))
}

.btn-gfl .icon {
  opacity: 0.6;
  background: url("/univasset/images/greenbottle.png") 0 0 no-repeat
}
/* #endregion */

/*font-size: 90%;
  
  align-items: center;
  display: -ms-inline-flexbox;
  -ms-flex-align: center;
  height: 1.2rem;
  line-height: .8rem;
  max-width: 100%;
  text-decoration: none;
  vertical-align: middle;
*/

/* .tooltip {
  position: relative;
  /* display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} */

/* @media screen and (max-width: 640px) {
  .widescreen {
    width: 100%;
  }
} */