@import "/assets/css/style.css?v=2d3b5126dd9bdaf552f3aef918356c51b10c15a9";
@import "./htmlgenerator/htmlgenerator.css";
@import "./pageheader/header.css";
@import "./html/index.css";
@import "./changelog.css";
@import "./tooltip.css";
@import "./tabs.css";

code {
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0px 3px;
	margin: 0px -3px;
	color: #aa759f;
	border-radius: 2px;
}

dd {
    display: list-item;
    margin-inline-start: 20px;
}

tr:nth-child(even) {
	background-color: rgba(85, 107, 47, 0.25);
}

img.inline-img {
    vertical-align: middle;
    display: inline;
    height: 1rem;
}

a[href^="#"] {
	text-decoration: none;
}