.tab-button {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-style: initial;
}

.tab-button input {
    appearance: none;
    margin: 0;
}

.tab-body {
    display: none;
}