.tooltip, :has(> .tooltiptext) {
    position: relative;
}

.tooltiptext {
    --tipwidth: 300px;
    width: var(--tipwidth);
    margin-left: calc(var(--tipwidth) / -2);
}
  
@media screen and (max-width: 720px) {
    .tooltiptext {
        --tipwidth: 100px;
    }
}

/* Interactible */
.tooltip > .tooltiptext {
    position: absolute;
    /* width: 300px; */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 3px;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    /* margin-left: -150px; */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

/* @media screen and (max-width: 720px) {
    .tooltip > .tooltiptext {
        width: 100px;
        margin-left: -50px;
    }
} */
    
/* Descriptive */
.tooltip + .tooltiptext {
    position: absolute;
    /* width: 300px; */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 3px;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    /* margin-left: -150px; */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover + .tooltiptext , .tooltip:hover > .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* If desktop, on top of text
/* If mobile, on top of screen */
  
