/* .tooltip + .tooltiptext used for non-clickable tooltips. Replace with pointer-events: none */
/* .tooltip > .tooltiptext for interactible tooltips. Use a class instead. */

.tooltiptext {
    padding: 3px;
    background-color: #555;
    color: #fff;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
}

@media (hover: hover) {
    .tooltip {
        position: relative;
    }

    .tooltiptext {
        position: absolute;

        min-width: fit-content;
        width: 25vw;
        max-width: 300px;

        border-radius: 8px;

        text-align: center;
    }

    .tooltip > .tooltiptext {
        bottom: 100%;
    }
}

@media (hover: none) {
    .tooltiptext {
        position: fixed;

        width: 90%;
        max-width: 500px;
        min-height: 2lh;

        top: 0;

        border-radius: 0 0 20px 20px;

		display: flex;
		align-items: center;
		justify-content: center;	
    }
}

.tooltip:hover > .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* @keyframes {
} */