dialog {
    border-radius: 10px;
    padding: 5px;
    background-color: slategrey;
}

/* #region Algo Modal */
#algo-modal {
    text-align: center;
    width: 650px;
}

/* #region Algorithm Grid */
#algo-modal .tab-body {
    --gridsize: 100px;
    grid-template-columns: repeat(2, var(--gridsize));
    grid-auto-rows: var(--gridsize);
    gap: 5px;
}

.algo-close {
    background-image: url("../assets/images/algorithms/Closed.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.algo-empty {
    background-image: url("../assets/images/algorithms/Empty.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.algo-block {
    --algo-pad: 5px;
    --gold-algo: #ffa418;
    background-color: #eaeaea;
    position: relative;
    padding: var(--algo-pad);
}

.double-block {
    grid-column-end: span 2;
    display: flex;
    justify-content: space-between;
}

.double-block > div {
    height: 100%;
    aspect-ratio: 1;
}

.double-block > img {
    height: 100%;
}

.mainstat {
    background-color: var(--gold-algo);
    color: white;
}

.substat {
    background-color: #343434;
    color: var(--gold-algo);
}

.algo-block button {
    padding: 0;
    position: absolute;
    right: var(--algo-pad);
    bottom: var(--algo-pad);
    background-image: url("../assets/images/algorithms/Trash.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10px;
    height: 10px;
    border-width: 1px;
}
/* #endregion */

/* #region Tabs */
#algo-field {
    container-type: inline-size;
    margin-bottom: 5px;
}

#algo-modal .tab-button > label{
    background-color: transparent;
    line-height: 10px;
    flex: calc(100% / 3);
}

#algo-modal .tab-button {
    margin-bottom: 5px;
}

#algo-modal .tab-body {
    display: inline-grid;
}

@container (width < 650px) {
    #algo-modal .tab-button > label:has(input:checked) {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    #algo-modal .tab-button > label:has([value="Offense"]:checked) {
        background-image: url("../assets/images/algorithms/tabs/Offense.png");
    }

    #algo-modal .tab-button > label:has([value="Stability"]:checked) {
        background-image: url("../assets/images/algorithms/tabs/Stability.png");
    }

    #algo-modal .tab-button > label:has([value="Special"]:checked) {
        background-image: url("../assets/images/algorithms/tabs/Special.png");
    }

    #algo-modal .tab-body {
        display: none;
    }    

    #algo-modal .tab-button:has([value="Offense"]:checked) ~ #Offense,
    #algo-modal .tab-button:has([value="Stability"]:checked) ~ #Stability,
    #algo-modal .tab-button:has([value="Special"]:checked) ~ #Special {
        display: inline-grid;
    }
}
/* #endregion */

#algo-modal > #close-modal {
    left: 50%;
    transform: translateX(-50%);
}
/* #endregion */

/* #region Algo Select */
#algo-select > form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#algo-select button {
    padding: 0;
}

#algo-select button > img {
    width: 100px;
}

#algo-select button > div.algo-left {
    background-image: -webkit-linear-gradient(left, #ffcd49, #8acdf3);
}

#algo-select button > div.algo-right {
    background-image: -webkit-linear-gradient(left, #8acdf3, #ffcd49);
}

#algo-select button > div.algo-left.algo-right {
    background-color: #ffcd49;
    background-image: revert;
}

#algo-select button > div.algo-worse {
    background-color: #8acdf3;
}
/* #endregion */

/* --gray-algo: #494b4a; */
