@import "/univasset/scripts/tabs.css";

dialog {
    --dialog-pad: 5px;
    border-radius: 10px;
    padding: var(--dialog-pad);
    background-color: slategrey;
}

/* #region Algo Modal */
#algo-modal {
    text-align: center;
    width: 650px;
}

/* #region Algorithm Grid */
#algo-modal .tab-body {
    --gridsize: 100px;
    grid-template-columns: repeat(2, var(--gridsize));
    grid-auto-rows: var(--gridsize);
    gap: 5px;
}

.algo-close {
    background-image: url("../assets/images/algorithms/others/Closed.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.algo-empty {
    background-image: url("../assets/images/algorithms/others/Empty.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.algo-block {
    --algo-pad: 5px;
    --gold-algo: #ffa418;
    background-color: #eaeaea;
    position: relative;
    padding: var(--algo-pad);
}

.algo-block select {
    width: 100%;
}

.double-block {
    grid-column-end: span 2;
    display: flex;
    justify-content: space-between;
}

.double-block > div {
    height: 100%;
    aspect-ratio: 1;
}

.double-block > img {
    height: 100%;
}

.mainstat {
    background-color: var(--gold-algo);
    color: white;
}

.substat {
    background-color: #343434;
    color: var(--gold-algo);
}

.algo-block button {
    padding: 0;
    position: absolute;
    right: var(--algo-pad);
    bottom: var(--algo-pad);
    background-image: url("../assets/images/algorithms/others/Trash.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10px;
    height: 10px;
    border-width: 1px;
}
/* #endregion */

/* #region Tabs */
#algo-field {
    container-type: inline-size;
    margin-bottom: 5px;
}

#algo-modal .tab-button {
    margin-bottom: 5px;
}

#algo-modal .tab-button > label{
    background-color: transparent;
    line-height: 10px;
}

#algo-modal .tab-button h2 {
    margin-bottom: 10px;
}

#algo-modal .tab-body {
    display: inline-grid;
    vertical-align: top;
}

@container (width < 650px) {
    #algo-modal .tab-button > label:has(input:checked) {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    #algo-modal .tab-button > label:has([value="Offense"]:checked) {
        background-image: url("../assets/images/algorithms/others/Offense.png");
    }

    #algo-modal .tab-button > label:has([value="Stability"]:checked) {
        background-image: url("../assets/images/algorithms/others/Stability.png");
    }

    #algo-modal .tab-button > label:has([value="Special"]:checked) {
        background-image: url("../assets/images/algorithms/others/Special.png");
    }

    #algo-modal .tab-body {
        display: none;
    }    

    #algo-modal .tab-button:has([value="Offense"]:checked) ~ #Offense,
    #algo-modal .tab-button:has([value="Stability"]:checked) ~ #Stability,
    #algo-modal .tab-button:has([value="Special"]:checked) ~ #Special {
        display: inline-grid;
    }
}
/* #endregion */

/* #algo-modal option[class*="algo-stat"] {
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
} */

/* #algo-modal .mainstat .algo-stat-good {
    background-image: url("../assets/images/algorithms/up2.png");
}

#algo-modal .substat .algo-stat-good {
    background-image: url("../assets/images/algorithms/up1.png");
}

#algo-modal .algo-stat-bad {
    background-image: url("../assets/images/algorithms/down1.png");
} */

#algo-modal #help {
    background-image: url("../assets/images/Info.png");
    background-repeat: no-repeat;
    background-size: cover;

    aspect-ratio: 1;
    width: 15px;
    position: absolute;
    top: var(--dialog-pad);
    right: var(--dialog-pad);
}
/* #endregion */

/* Algo Select */
#algo-select > form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

/* #region Algoritm Selection */
#algo-select button {
    --blank: #00000000;
    --good: #ffcd49;
    --bad: #8acdf3;
    padding: 0;

    display: inline-grid;
    grid-template-areas: 
        "name   stat    type"
        "image  effect  effect";
    grid-template-columns: 100px 120px 20px;
    grid-template-rows: 1lh 100px;
}

#algo-select button > [data-grid="name"] {
    grid-area: name;
}

#algo-select button > [data-grid="set2"] {
    grid-area: stat;
}

#algo-select button > [data-grid="type"] {
    grid-area: type;
}

#algo-select button > img {
    grid-area: image;
    width: 100%;
}

#algo-select button > [data-grid="set3"] {
    grid-area: effect;
    height: 100%;
    overflow-y: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
/* #endregion */

/* #region Set Threshold */
#algo-select button > div.algo-left-good {
    background-image: -webkit-linear-gradient(left, var(--good), var(--blank));
}

#algo-select button > div.algo-right-good {
    background-image: -webkit-linear-gradient(left, var(--blank), var(--good));
}

#algo-select button > div.algo-left-bad {
    background-image: -webkit-linear-gradient(left, var(--bad), var(--blank));
}

#algo-select button > div.algo-right-bad {
    background-image: -webkit-linear-gradient(left, var(--blank), var(--bad));
}

#algo-select button > div.algo-left-good.algo-right-good {
    background-color: var(--good);
    background-image: revert;
}

#algo-select button > div.algo-left-good.algo-right-bad {
    background-image: -webkit-linear-gradient(left, var(--good), var(--bad));
}

#algo-select button > div.algo-left-bad.algo-right-good {
    background-image: -webkit-linear-gradient(left, var(--bad), var(--good));
}

#algo-select button > div.algo-left-bad.algo-right-bad {
    background-color: var(--bad);
    background-image: revert;
}
/* #endregion */


















/* --gray-algo: #494b4a; */


/* https://dev.to/michaelburrows/setup-a-html-tooltip-on-hover-using-css-23b3 */
/* Test */
[data-tooltip] {
    position: relative;
    cursor: help;
    background: black;
    color: white;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    width: 150px;
    transform: translateX(-50%);
    bottom: 25px;
    padding: 0.5em;
    background-color: black;
    border-radius: 0.25em;
    color: white;
    text-align: center;
}

[data-tooltip]:after {
    content: "";
    bottom: 15px;  
    margin-left: -5px; 
    border: 5px solid black;
    border-color: black transparent transparent transparent;
}
/* Code language: CSS (css)
Finally we need to set the opacity to be visible when the tooltip element is hovered: */
[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    opacity: 1;
}