@import "/main.css" layer(user);
@import "/univasset/scripts/tooltip.css" layer(tooltip);
@import "/univasset/scripts/table.css" layer(table);

#table {
    --bkg-color: #151515;
}

.func_table {
    height: fit-content;
    max-height: 95lvh;
    overflow: scroll;
    overscroll-behavior: contain;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    margin: 0;
}

tbody > tr > td:first-child, thead > tr > th {
    cursor: pointer;
}

/* #region Freeze */
.freeze-row th {
    background: #151515 url("/assets/images/bkg.png") 0 0;
}

.freeze-col tr > :first-child {
    border-right: 1px dashed #b5e853;
}

.freeze-col tbody > tr:nth-child(odd) > td:first-child {
    background: #151515 url("/assets/images/bkg.png") 0 0;
}

.freeze-col tbody > tr:nth-child(even) > td:first-child {
    background: #292f20;
}
/* #endregion */

/* #region Sort */
.func_table th[data-sort="hi"] {
    background: linear-gradient(135deg, var(--bkg-color), transparent 50%),
        linear-gradient(-135deg, var(--bkg-color), transparent 50%),
        linear-gradient(blue, gray 50%);
}

.func_table th[data-sort="lo"] {
    background: linear-gradient(45deg, var(--bkg-color), transparent 50%),
        linear-gradient(-45deg, var(--bkg-color), transparent 50%),
        linear-gradient(gray 50%, red);
}
/* #endregion */

/* #region Filter */
/* .hidden {
    display: none;
}

.func_table tr {
    background-color: unset;
}

.func_table tbody > tr:not(.hidden):nth-child(even) {
    background-color: rgba(85, 107, 47, 0.25);
} */
/* #endregion */

/* #region Arma */
.arma {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.arma > img {
    height: 1lh;
    max-width: initial;
    margin-left: 5px;
}
/* #endregion */

#filter {
    margin-top: 10px;
}

#filter > div {
    --filter-pad: 10px;
    display: inline-block;
    background: #343434;
    border-radius: 20px;
    padding: 0 var(--filter-pad);
}

/* #region Class */
#classes {
    width: fit-content;
    text-align: center;
    margin-top: 10px;
}

#classes > label {
    height: 30px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: inline-flex;
}

#classes > label:has([value="Guard"]) {
    background-image: url("../assets/images/classes/Guard.png");
    aspect-ratio: 48/64;
}

#classes > label:has([value="Guard"]:checked) {
    background-position: -23px 0;
}

#classes > label:has([value="Sniper"]) {
    background-image: url("../assets/images/classes/Sniper.png");
    aspect-ratio: 61/64;
}

#classes > label:has([value="Sniper"]:checked) {
    background-position: -30px 0;
}

#classes > label:has([value="Warrior"]) {
    background-image: url("../assets/images/classes/Warrior.png");
    aspect-ratio: 64/64;
}

#classes > label:has([value="Warrior"]:checked) {
    background-position: -30px 0;
}

#classes > label:has([value="Specialist"]) {
    background-image: url("../assets/images/classes/Specialist.png");
    aspect-ratio: 54/64;
}

#classes > label:has([value="Specialist"]:checked) {
    background-position: -25px 0;
}

#classes > label:has([value="Medic"]) {
    background-image: url("../assets/images/classes/Medic.png");
    aspect-ratio: 64/64;
}

#classes > label:has([value="Medic"]:checked) {
    background-position: -28.5px 0;
}
/* #endregion */

/* #region Algorithm */
#algorithms {
    --gridsize: 100px;
    --gold-algo: #ffa418;
    display: inline-grid;
    padding: var(--filter-pad);
    grid-template-columns: repeat(2, var(--gridsize));
    grid-auto-rows: var(--gridsize);
    gap: 5px;
}

#algorithms > * {
    height: 100%;
    aspect-ratio: 1;
}

#algorithms > button {
    padding: 0;
    border-width: 1px;
}

#algorithms > * > * {
    width: 100%;
}
/* #endregion */

/* #region Pre Bonus */
#bonus label:has(input[disabled]) {
    display: none;
}

#bonus {
    width: fit-content;
    background: #343434;
    border-radius: 20px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

#bonus label {
    --color: limegreen;
    outline: 2px solid var(--color);
    border-radius: 10rem;
    padding: 0px 3px;
    background: transparent;
    color: var(--color);
    white-space: nowrap;
}

#bonus label:has(input:checked) {
    background: var(--color);
    color: black;
}

#bonus .tooltiptext {
    bottom: 150%;
    white-space: normal;
}    
/* #endregion */