@import "/main.css" layer(user);
@import "/univasset/scripts/tooltip.css" layer(tooltip);
@import "/univasset/scripts/table.css" layer(table);

/* #region Table */
#table {
    --table-height: 95lvh;
    --bkg-color: #151515;
    max-height: var(--table-height)
}

tbody > tr > td:first-child, thead > tr > th {
    cursor: pointer;
}

/* #region Freeze */
.freeze-row th {
    background: #151515 url("/assets/images/bkg.png") 0 0;
}

.freeze-col tr > :first-child {
    border-right: 1px dashed #b5e853;
}

.freeze-col tbody > tr:nth-child(odd) > td:first-child {
    background: #151515 url("/assets/images/bkg.png") 0 0;
}

.freeze-col tbody > tr:nth-child(even) > td:first-child {
    background: #292f20;
}
/* #endregion */

/* #region Sort */
.func_table th[data-sort="hi"] {
    background: linear-gradient(135deg, var(--bkg-color), transparent 50%),
        linear-gradient(-135deg, var(--bkg-color), transparent 50%),
        linear-gradient(blue, gray 50%);
}

.func_table th[data-sort="lo"] {
    background: linear-gradient(45deg, var(--bkg-color), transparent 50%),
        linear-gradient(-45deg, var(--bkg-color), transparent 50%),
        linear-gradient(gray 50%, red);
}
/* #endregion */

/* #region Arma */
.arma {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.arma > img {
    height: 1lh;
    max-width: initial;
    margin-left: 5px;
}
/* #endregion */
/* #endregion */





/* #region Extras */
#extras {
    --background-color: #00b570;
    --border-radius: 20px;
    margin-top: 5px;
}

#extras > .tab-button > label {
    background-color: transparent;
    color: crimson;
    font-size: 1.5em;
}

#extras > .tab-button > label:has(input:checked) {
    background-color: var(--background-color);
    /* use inverted border radius */
}

:where(#extras) > .tab-body {
    display: block;
    background-color: var(--background-color);
    padding: 5px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

@layer {
    #extras > .tab-body > div {
        width: fit-content;
        background-color: #343434;
        border-radius: var(--border-radius);
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 0 10px 10px;
    }
}

input[type="checkbox"] {
    appearance: none;
    margin: 0;
}

/* #region Spirits */
#spirits > button {
    width: 100px;
    padding: 0;
}
/* #endregion */

/* #region Class */
#classed {
    width: 70px;
}

#classes > label {
    height: 30px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: inline-flex;
    padding-bottom: 0;
}

#classes > label:has([value="Guard"]) {
    background-image: url("../assets/images/classes/Guard.png");
    aspect-ratio: 48/64;
}

#classes > label:has([value="Guard"]:checked) {
    background-position: -23px 0;
}

#classes > label:has([value="Sniper"]) {
    background-image: url("../assets/images/classes/Sniper.png");
    aspect-ratio: 61/64;
}

#classes > label:has([value="Sniper"]:checked) {
    background-position: -30px 0;
}

#classes > label:has([value="Warrior"]) {
    background-image: url("../assets/images/classes/Warrior.png");
    aspect-ratio: 64/64;
}

#classes > label:has([value="Warrior"]:checked) {
    background-position: -30px 0;
}

#classes > label:has([value="Specialist"]) {
    background-image: url("../assets/images/classes/Specialist.png");
    aspect-ratio: 54/64;
}

#classes > label:has([value="Specialist"]:checked) {
    background-position: -25px 0;
}

#classes > label:has([value="Medic"]) {
    background-image: url("../assets/images/classes/Medic.png");
    aspect-ratio: 64/64;
}

#classes > label:has([value="Medic"]:checked) {
    background-position: -28.5px 0;
}
/* #endregion */

/* #region Algorithm */
#algorithms {
    --gridsize: 100px;
    --gold-algo: #ffa418;   /* For .mainstat, .substat classes */
    display: inline-grid;
    grid-template-areas: 
        "title  title"
        "set    stats";
    grid-template-columns: var(--gridsize) var(--gridsize);
    grid-template-rows: 1lh var(--gridsize);
    gap: 5px;
}

#algorithms > div:first-of-type {
    grid-area: title;
    aspect-ratio: unset;
}

#algorithms > button {
    grid-area: set;
    padding: 0;
    border-width: 1px;
}

#algorithms > div:last-of-type {
    grid-area: stats;
    position: relative;
}

#algorithms > * > * {
    width: 100%;
}

#algorithms > div > button {
    position: absolute;
    bottom: 1px;
    right: 0;
}
/* #endregion */

/* #region Pre Bonus */
#pre-battle label {
    --color: limegreen;
    outline: 2px solid var(--color);
    border-radius: 10rem;
    padding: 0px 3px;
    background: transparent;
    color: var(--color);
    white-space: nowrap;
}

#pre-battle label:has(input[disabled]) {
    display: none;
}

#pre-battle label:has(input:checked) {
    background: var(--color);
    color: black;
}

#pre-battle .tooltiptext {
    bottom: 150%;
    white-space: normal;
}    
/* #endregion */
/* #endregion */







/* https://itnext.io/how-to-make-a-fancy-inverted-border-radius-in-css-5db048a53f95 */
 
/* .inverted-border-radius {
    --ibr-color: #F66969;
    --ibr-radius: 25px;
    position: relative;
    height: 100px;
    width: 325px;
    background-color: var(--ibr-color);
    border-radius: var(--ibr-radius) var(--ibr-radius) var(--ibr-radius) 0;
}

.inverted-border-radius::before {
    content: "";
    position: absolute;

    background-color: transparent;
    bottom: -50px;
    height: 50px;
    width: var(--ibr-radius);
    border-top-left-radius: var(--ibr-radius);
    box-shadow: 0 calc(var(--ibr-radius) * -1) 0 0 var(--ibr-color);
} */