@import "/univasset/scripts/externalcss.css";

.func_table {
    height: fit-content;
    max-height: 95vh;
}

/* looks like a button */
label {
    border: black 1px solid;
    border-radius: 5px;
}

input[type="checkbox"] {
    appearance: none;
    margin: 0;
}

input[type="text"] {
    width: 500%;
}

/* #region Freeze */
.freeze-row.freeze-row th {
    background: #1b1b1b;
}

.freeze-col tr > :first-child {
    border-right: 1px dashed #b5e853;
}

.freeze-col tr:nth-child(odd) > :first-child {
    background: #1b1b1b;
}

.freeze-col tr:nth-child(even) > :first-child {
    background: #292f20;
}
/* #endregion */