@import "/univasset/scripts/externalcss.css";

.func_table {
    height: fit-content;
    max-height: 95lvh;
}

/* #region Filter */
label {
    border-radius: 5px;
    color: black;
    background-color: #c8c8c84d;
    padding: 1px 5px;
}

label:has(input:checked) {
    background-color: #c8c8c8;
}

input[type="checkbox"] {
    appearance: none;
    margin: 0;
}

input[type="text"] {
    width: calc(100% - 58px);
}
/* #endregion */

/* #region Freeze */
.freeze-row.freeze-row th {
    background: #1b1b1b;
}

.freeze-col tr > :first-child {
    border-right: 1px dashed #b5e853;
}

.freeze-col tr:nth-child(odd) > :first-child {
    background: #1b1b1b;
}

.freeze-col tr:nth-child(even) > :first-child {
    background: #292f20;
}
/* #endregion */