input {
    appearance: none;
    margin: 0;
}


/*#spirit-option form {
    display: flex;
    flex-wrap: wrap;
}*/

#set-options {
    height: fit-content;
}

.spirit-button {
    --gridsize: 100px;
    display: inline-grid;
    grid-template-areas: 
    "image  name"
    "image  stats";
    grid-template-columns: var(--gridsize) var(--gridsize);
    grid-template-rows: 1lh 100%;
    gap: 5;
}

.spirit-button img {
    grid-area: image;
    width: 100px;
    aspect-ratio: 1;
}

.spirit-button span {
    grid-area: name;
}

.spirit-button div {
    grid-area: stats;
}


#set-options {
    display: flex;
    justify-content: space-evenly;
}

#sets {
    display: inline-grid;
    height: 100%;

    grid-template-rows: 35%;
}

#sets label {
    aspect-ratio: 1;
    background-color: green;
}

/*#skills {
    disp
}*/

#skills label {
    --dialog-pad: 5px;
    border-radius: 10px;
    padding: var(--dialog-pad);
    background-color: slategrey;
    /* border color? */
    /* border style? */

    /*display: inline-grid;*/
    display: grid;
    grid-template-areas: 
    "name"
    "desc";

    margin-top: 5px;
}

#skills label:has(input:checked) {
    background-color: red;
}

#skills label:has(input:disabled) {
    background-color: blue;
}
