input {
    appearance: none;
    margin: 0;
}


/*#spirit-option form {
    display: flex;
    flex-wrap: wrap;
}*/

.spirit-button {
    --gridsize: 100px;
    display: inline-grid;
    grid-template-areas: 
    "image  name"
    "image  stats";
    grid-template-columns: var(--gridsize) var(--gridsize);
    grid-template-rows: 1lh 100%;
    gap: 5;
}

.spirit-button img {
    grid-area: image;
    width: 100px;
    aspect-ratio: 1;
}

.spirit-button span {
    grid-area: name;
}

.spirit-button div {
    grid-area: stats;
}


/*#skill-sets {
    display: flex;
    flex-wrap: wrap;

}*/


#sets {
    display: flex;
    /*display: inline-block;*/
    /*width: fit-content;*/
}



#skills {
    display: inline-block;
    width: 100%;
}

#skills label {
    --dialog-pad: 5px;
    border-radius: 10px;
    padding: var(--dialog-pad);
    background-color: slategrey;
    /* border color? */
    /* border style? */

    /*display: inline-grid;*/
    display: grid;
    grid-template-areas: 
    "name"
    "desc";
}

#skills label:has(input:checked) {
    background-color: red;
}

#skills label:has(input:disabled) {
    background-color: blue;
}
